---
# front matter 필수
---

@import "minimal-mistakes";

/* post 제목 크기 조절 + underline 제거 */
.archive__item-title a {
  font-size: 1.2rem;
  text-decoration: none;
}

/* hover 시에도 underline 제거 */
.archive__item-title a:hover {
  text-decoration: none;
}
